<aside x-show="mobileSidebarOpen" x-cloak class="md:!block col-span-full md:col-span-1 mx-[5%] md:mr-[20%] order-1 md:order-2"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -mt-96"
    x-transition:enter-end="opacity-100 mt-0">
        <section class="card p-4">
            <h2>Categories:</h2>
            <ul class="hoverlist fontraw text-xl">
                <li class="highlight"><a href="">
                        <img class="w-10 h-10 object-cover mr-2"
                            src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/national-park.png"
                            alt="national-park" />
                        <span>Nature</span>
                    </a></li>
                <li><a href="">
                        <img class="w-10 h-10 object-cover mr-2"
                            src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/cat-butt.png" alt="cat-butt" />
                        <span>Animals</span>
                    </a></li>
                <li><a href="">
                        <img class="w-10 h-10 object-cover mr-2"
                            src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/family.png" alt="people" />
                        <span>People</span>
                    </a></li>
                <li><a href="">
                        <img class="w-10 h-10 object-cover mr-2"
                            src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/workflow.png" alt="national-park" />
                        <span>Abstract</span>
                    </a></li>
                <li><a href="">
                        <img class="w-10 h-10 object-cover mr-2"
                            src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/city.png" alt="national-park" />
                        <span>Buildings</span>
                    </a></li>
            </ul>
        </section>
        <section class="card p-4">
            <h2 class="">Top Photos</h2>
            <ul class="hoverlist">
                <li><a href="">
                        <img class="w-10 h-10 rounded-lg object-cover mr-5"
                            src="https://live.staticflickr.com/65535/51980751292_38b3d98b76_b.jpg" alt="birds">
                        <img class="w-8 h-8 rounded-full object-cover mr-1"
                            src="https://img.icons8.com/nolan/96/test-account.png">
                        <span class="font-bold mr-1 fontraw">User 1</span>
                        <span class="font-light text-grey-500">(5 Likes)</span>
                    </a></li>
                <li><a href="">
                        <img class="w-10 h-10 rounded-lg object-cover mr-5"
                            src="https://live.staticflickr.com/65535/51980751292_38b3d98b76_b.jpg" alt="birds">
                        <img class="w-8 h-8 rounded-full object-cover mr-1"
                            src="https://img.icons8.com/nolan/96/test-account.png">
                        <span class="font-bold mr-1 fontraw">User 2</span>
                        <span class="font-light text-grey-500">(4 Likes)</span>
                    </a></li>
            </ul>
        </section>
        <section class="card p-4">
            <h2 class="">Top Caption</h2>
            <ul class="hoverlist">
                <li><a href="">
                        <img class="w-9 h-9 rounded-full object-cover mr-1"
                            src="https://img.icons8.com/nolan/96/test-account.png">
                        <span class="font-bold mr-1 fontraw">User 1</span>
                        <span class="font-light text-grey-500">(5 Likes)</span>
                    </a></li>
                <li><a href="">
                        <img class="w-9 h-9 rounded-full object-cover mr-1"
                            src="https://img.icons8.com/nolan/96/test-account.png">
                        <span class="font-bold mr-1 fontraw">User 2</span>
                        <span class="font-light text-grey-500">(4 Likes)</span>
                    </a></li>
            </ul>
        </section>
</aside>