{% extends 'base.html' %}

{% block layout %}
<content x-data="{mobileSidebarOpen : false}" class="grid grid-cols-3 max-w-7xl mx-auto mt-6">
    <mobileSidebarNar class="md:hidden col-span-full mx-auto mb-6 z-10 relative">
        <a @click="mobileSidebarOpen = !mobileSidebarOpen" class="flex items-center cursor-pointer select-none fontFam hover:bg-white rounded-lg p-3 mb-5">
            <span>Categories</span>
            <img x-bind:class="mobileSidebarOpen && 'rotate-180 duration-300'" class="w-4 ml-1.5" src="https://img.icons8.com/ios/50/000000/expand-arrow--v2.png">
        </a>
    </mobileSidebarNar>
    <main class="col-span-full md:col-span-2 mx-[5%] md:mx-[10%] order-2 md:order-1">
    {% block content %}

    {% endblock %}
    </main>
    {% include 'includes/sidebar.html' %}
</content>
{% endblock %}